# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.parcel-cache
/1-node-farm/starter/node_modules
/2-how-node-works/starter/node_modules
/3-asynchronous-JS/starter/node_modules
/4-natours/starter/node_modules
/4-natours/after-section-06/node_modules
/4-natours/after-section-07/node_modules
/4-natours/after-section-08/node_modules
/4-natours/after-section-09/node_modules
/4-natours/after-section-10/node_modules
/4-natours/after-section-11/node_modules
/4-natours/after-section-12/node_modules
/4-natours/after-section-13/node_modules
/4-natours/after-section-14/node_modules
/.pnp
.pnp.js
# config files
/4-natours/starter/config.env
/4-natours/after-section-08/config.env

# testing
/coverage

# production
/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
